
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using WEB_BMS.Models;

@model List<HangHoa>

<link href="~/assets/style_index.css" rel="stylesheet" />



<div class="container">
    <img src="~/assets/img/img_intro/vlxd-ngoc-ha.jpg" style="width: 100%; height: auto ;position: relative;z-index:-1 " />
</div>
<div class="container">
    <div class="icon-box">
        <div class="icon-box-img">
            <img decoding="async" width="50" height="50" src="https://vlxdsaigon24h.com/wp-content/uploads/2023/11/Product-min.jpg" class="attachment-medium size-medium" alt="Cam kết chất lượng">
        </div>
        <h3 class="uppercase">Cam kết chất lượng</h3>
    </div>
    <div class="icon-box">
        <div class="icon-box-img">
            <img decoding="async" width="50" height="50" src="https://vlxdsaigon24h.com/wp-content/uploads/2023/11/Job-min.jpg" class="attachment-medium size-medium" alt="Giá cạnh tranh">
        </div>
        <h3 class="uppercase">Giá cạnh tranh</h3>
    </div>
    <div class="icon-box">
        <div class="icon-box-img">
            <img loading="lazy" decoding="async" width="50" height="50" src="https://vlxdsaigon24h.com/wp-content/uploads/2023/11/icon-home-ncc.png" class="attachment-medium size-medium" alt="Khách hàng là số 1">
        </div>
        <h3 class="uppercase">Khách hàng là số 1</h3>
    </div>
    <div class="icon-box">
        <div class="icon-box-img">
            <img loading="lazy" decoding="async" width="50" height="50" src="https://vlxdsaigon24h.com/wp-content/uploads/2023/11/icon-home-thuong-hieu.png" class="attachment-medium size-medium" alt="Tư vấn 24/7">
        </div>
        <h3 class="uppercase">Tư vấn 24/7</h3>
    </div>
</div>
<br />
<br />
<div class="container">
    <h2 class="uppercase" style="padding: 0px 450px 0px 450px">DANH MỤC SẢN PHẨM</h2>
    <p style="text-align: justify;">
        <span style="color: #001981;"><em><strong>Vật Liệu Xây Dựng NGỌC HÀ </strong></em></span>chuyên cung cấp các sản phẩm cát xây dựng ( cát vàng, cát đen, cát san lấp, cát xây tô, cát bê tông …),
        đá xây dựng ( đá chẻ, đá hộc, đá 1×2, đá 4×6, đá 5×7, đá 0x4, đá mi, …), các loại gạch, xi măng, sắt thép, vật liệu xây dựng cho các công trình lớn nhỏ tại tphcm và các tỉnh.
    </p>
    <p style="text-align: justify;">Ngoài ra <span style="color: #001981;"><em><strong>Vật Liệu Xây Dựng NGỌC HÀ</strong></em></span> còn cung cấp dịch vụ san lấp mặt bằng, dịch vụ chở xà bần, …vv</p>
</div>

<div class="container-i container">
    <div>
        <a href="#"><img src="~/assets/img/img_product/cat_11.jpg" /></a>
        <h5 style="text-align: center; margin-top: 10px" class="uppercase">CÁT XÂY DỰNG</h5>
        <p style="text-align: center">4 sản phẩm</p>
    </div>
    <div>
        <a href="#"><img src="~/assets/img/img_product/da_15.jpg" /></a>
        <h5 style="text-align: center; margin-top: 10px" class="uppercase">ĐÁ XÂY DỰNG</h5>
        <p style="text-align: center">4 sản phẩm</p>
    </div>
    <div>
        <a href="#"><img src="~/assets/img/img_product/thep_19.jpg" /></a>
        <h5 style="text-align: center; margin-top: 10px" class="uppercase">THÉP XÂY DỰNG</h5>
        <p style="text-align: center">2 sản phẩm</p>
    </div>
    <div>
        <a href="#"><img src="~/assets/img/img_product/ximang_1.jpg" /></a>
        <h5 style="text-align: center; margin-top: 10px" class="uppercase">XI MĂNG XÂY DỰNG</h5>
        <p style="text-align: center">7 sản phẩm</p>
    </div>
    <div>
        <a href="#"><img src="~/assets/img/img_product/son_21.jpg" /></a>      
        <h5 style="text-align: center; margin-top: 10px" class="uppercase">SƠN XÂY DỰNG</h5>
        <p style="text-align: center">2 sản phẩm</p>
    </div>
    <div>
        <a href="#"><img src="~/assets/img/img_product/gach_10.jpg" /></a>
        <h5 style="text-align: center; margin-top: 10px " class="uppercase">GẠCH XÂY DỰNG</h5>
        <p style="text-align: center">2 sản phẩm</p>
    </div>
    <div>
        <a href="#"><img style="height:300px" src="~/assets/img/img_product/kinh_23.jpg" /></a>
        <h5 style="text-align: center; margin-top: 10px" class="uppercase">KÍNH XÂY DỰNG</h5>
        <p style="text-align: center">1 sản phẩm</p>
    </div>
</div>

<div class="container mt-4">
    <div class="table-responsive">
        <div>
            <i class="nav-arrow ti-angle-down"></i>
            <span class="uppercase" style="color:rgb(0, 25, 129); font-weight:bold; font-size: 24px"><i class="icon-angle-down"></i>BẢNG GIÁ XI MĂNG</span>
            <div style="max-width:100%;height:1px;background-color:lightgray; margin: 16px"></div>

            @if (Model != null)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-info text-center">
                            <th scope="col">CÁC LOẠI XI MĂNG</th>
                            <th scope="col">ĐƠN VỊ TÍNH</th>
                            <th scope="col">ĐƠN GIÁ (VNĐ)</th>
                        </tr>
                    </thead>
                    @foreach (var s in Model)
                    {
                        if (s.MaLoai == "DM002")
                        {
                            <tbody>
                                <tr>
                                    <td>@s.TenHangHoa</td>
                                    <td>@s.DonVi</td>
                                    <td>@s.GiaBan</td>
                                </tr>
                            </tbody>

                        }

                    }
                </table>
            }
        </div>


        <div>
            <i class="nav-arrow ti-angle-down"></i>
            <span class="uppercase" style="color:rgb(0, 25, 129); font-weight:bold; font-size: 24px"><i class="icon-angle-down"></i>BẢNG GIÁ GẠCH</span>
            <div style="max-width: 100%; height: 1px; background-color: lightgray; margin: 16px "></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-info text-center">
                    <th scope="col">CÁC LOẠI XI MĂNG</th>
                    <th scope="col">ĐƠN VỊ TÍNH</th>
                    <th scope="col">ĐƠN GIÁ (VNĐ)</th>
                </tr>
            </thead>
            @foreach (var s in Model)
            {
                if (s.MaLoai == "DM001")
                {
                    <tbody>
                        <tr>
                            <td>@s.TenHangHoa</td>
                            <td>@s.DonVi</td>
                            <td>@s.GiaBan</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
        <div>
            <i class="nav-arrow ti-angle-down"></i>
            <span class="uppercase" style="color:rgb(0, 25, 129); font-weight:bold; font-size: 24px"><i class="icon-angle-down"></i>BẢNG GIÁ CÁT</span>
            <div style="max-width: 100%; height: 1px; background-color: lightgray; margin: 16px"></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-info text-center">
                    <th scope="col">CÁC LOẠI XI MĂNG</th>
                    <th scope="col">ĐƠN VỊ TÍNH</th>
                    <th scope="col">ĐƠN GIÁ (VNĐ)</th>
                </tr>
            </thead>
            @foreach (var s in Model)
            {
                if (s.MaLoai == "DM003")
                {
                    <tbody>
                        <tr>
                            <td>@s.TenHangHoa</td>
                            <td>@s.DonVi</td>
                            <td>@s.GiaBan</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
        <div>
            <i class="nav-arrow ti-angle-down"></i>
            <span class="uppercase" style="color:rgb(0, 25, 129); font-weight:bold; font-size: 24px"><i class="icon-angle-down"></i>BẢNG GIÁ ĐÁ</span>
            <div style="max-width: 100%; height: 1px; background-color: lightgray; margin: 16px"></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-info text-center">
                    <th scope="col">CÁC LOẠI XI MĂNG</th>
                    <th scope="col">ĐƠN VỊ TÍNH</th>
                    <th scope="col">ĐƠN GIÁ (VNĐ)</th>
                </tr>
            </thead>
            @foreach (var s in Model)
            {
                if (s.MaLoai == "DM004")
                {
                    <tbody>
                        <tr>
                            <td>@s.TenHangHoa</td>
                            <td>@s.DonVi</td>
                            <td>@s.GiaBan</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
        <div>
            <i class="nav-arrow ti-angle-down"></i>
            <span class="uppercase" style="color:rgb(0, 25, 129); font-weight:bold; font-size: 24px"><i class="icon-angle-down"></i>BẢNG GIÁ THÉP</span>
            <div style="max-width: 100%; height: 1px; background-color: lightgray; margin: 16px"></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-info text-center">
                    <th scope="col">CÁC LOẠI XI MĂNG</th>
                    <th scope="col">ĐƠN VỊ TÍNH</th>
                    <th scope="col">ĐƠN GIÁ (VNĐ)</th>
                </tr>
            </thead>
            @foreach (var s in Model)
            {
                if (s.MaLoai == "DM005")
                {
                    <tbody>
                        <tr>
                            <td>@s.TenHangHoa</td>
                            <td>@s.DonVi</td>
                            <td>@s.GiaBan</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
        <div>
            <i class="nav-arrow ti-angle-down"></i>
            <span class="uppercase" style="color:rgb(0, 25, 129); font-weight:bold; font-size: 24px"><i class="icon-angle-down"></i>BẢNG GIÁ SƠN</span>
            <div style="max-width: 100%; height: 1px; background-color: lightgray; margin: 16px"></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-info text-center">
                    <th scope="col">CÁC LOẠI XI MĂNG</th>
                    <th scope="col">ĐƠN VỊ TÍNH</th>
                    <th scope="col">ĐƠN GIÁ (VNĐ)</th>
                </tr>
            </thead>
            @foreach (var s in Model)
            {
                if (s.MaLoai == "DM006")
                {
                    <tbody>
                        <tr>
                            <td>@s.TenHangHoa</td>
                            <td>@s.DonVi</td>
                            <td>@s.GiaBan</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
        <div>
            <i class="nav-arrow ti-angle-down"></i>
            <span class="uppercase" style="color:rgb(0, 25, 129); font-weight:bold; font-size: 24px"><i class="icon-angle-down"></i>BẢNG GIÁ KÍNH</span>
            <div style="max-width: 100%; height: 1px; background-color: lightgray; margin: 16px"></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-info text-center">
                    <th scope="col">CÁC LOẠI XI MĂNG</th>
                    <th scope="col">ĐƠN VỊ TÍNH</th>
                    <th scope="col">ĐƠN GIÁ (VNĐ)</th>
                </tr>
            </thead>
            @foreach (var s in Model)
            {
                if (s.MaLoai == "DM007")
                {
                    <tbody>
                        <tr>
                            <td>@s.TenHangHoa</td>
                            <td>@s.DonVi</td>
                            <td>@s.GiaBan</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>
</div>


<div class="container" style="margin-top: 40px; margin-bottom: 40px">
    <div class="left" style="background-color: azure; height:500px">
        <div class="image-gallery">
            <img src="~/assets/img/img_index/hop-dong-xay-dung.jpg" alt="Hợp Đồng Xây Dựng" class="gallery-image large" />
            <div class="small-images">
                <img src="~/assets/img/img_index/img_gach.jpg" alt="Gạch" class="gallery-image" />
                <img src="~/assets/img/img_index/satthep.jpg" alt="Sắt Thép" class="gallery-image" />
            </div>
        </div>
    </div>
    <div class="right">
        <div class="info-section">
            <div class="info-content">
                <h2>VẬT KIỆU XÂY DỰNG NGỌC HÀ</h2>
                <p>Đồng hành cùng quý khách xây dựng ngôi nhà mơ ước!!!</p>
                <p><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t6c/1/16/2764.png" alt="❤️" width="16" height="16"> Tựa như một nét chấm phá sang trọng cho công trình của bạn, những loại vật liệu xây dựng tại <strong>VLXD Ngọc Hà</strong> đều hướng đến tính thẩm mỹ cao và độ bền theo thời gian.</p>
                <p><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tac/1/16/1f4cc.png" alt="📌" width="16" height="16"> <strong>Vật Liệu Xây Dựng Ngọc Hà</strong> cung cấp đa dạng sản phẩm tại khu vực HCM</p>
                <ul>
                    <li><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"> Sắt thép, xi măng, gạch</li>
                    <li><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"> Gạch ốp lát, gạch trang trí</li>
                    <li><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"> Thiết bị nội thất</li>
                    <li><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"> Thiết bị vệ sinh</li>
                    <li><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"> Bình nước nóng</li>
                    <li><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"> Tranh, gạch ánh kim</li>
                    <li><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"> Lăn, cọ, giấy nhám…</li>
                    <li><img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"> Sơn nước</li>
                </ul>
                <a href="https://vlxdsaigon24h.com/gioi-thieu/" target="_self" class="button">Giới thiệu</a>
            </div>
        </div>
    </div>
</div>


<div id="text-2276895883" class="text" style="color: black;">
    <h2 style="text-align: center;"><span style="font-size: 90%; color: #001981;"><strong>SẢN PHẨM NỔI BẬT</strong></span></h2>
    <p style="width: 65%; margin: 0px auto; text-align: center;"><em>Dưới đây là một số sản phẩm nổi bật của chúng tôi luôn sẵn hàng</em></p>
</div>
<img src="~/assets/img/img_product/cat_12.jpg" />








<div class="container">
    <img style="width: 100%; height: 300px; object-fit: cover; object-position: bottom;" src="~/assets/img/img_contact/cat374-3.jpg" alt="Image" />
    <div class="wrap">
        <div>
            <center>
                <h2>
                    <span style="font-size: 35px; color: #282828; font-weight: bold">Giao hàng tận nơi, Chiết khấu hấp dẫn 5% – 10%</span>
                </h2>
            </center>

        </div>


        <div data-element_type="column">
            <div data-element_type="widget" data-widget_type="heading.default">
                <h2>
                    <center>
                        <span style="color: #ff6600;">
                            <span style="color: #993300;">LIÊN HỆ HOTLINE</span>
                            <a class="uppercase" href="tel:0334328540">0334.328.540</a>
                            <span style="color: #993300;">NHẬN BÁO GIÁ NGAY</span>
                        </span>
                    </center>
                </h2>
            </div>
        </div>
        <a rel="0334328540" href="tel:0334328540" target="_self" class="button primary is-shade is-large box-shadow-4 box-shadow-5-hover" style="border-radius:10px;padding:0px 20px 0px 20px;">
            <i class="fa-solid fa-phone" aria-hidden="true"></i> <span style="font-weight: bold; font-size: 24px">0334.328.540</span>
        </a>
    </div>
</div>




<div style="max-width:100%;height:2px;background-color:#001981;margin: 16px"></div>
<center><h3><span class="uppercase">BÀI VIẾT BÁO GIÁ VLXD NGỌC HÀ</span></h3></center>
<br />
<div class="box container">
    <div class="box-text">
        <h6>
            <a class="uppercase" href="https://vlxdsaigon24h.com/bao-gia-vlxd-moi-nhat/" previewlistener="true">Báo giá vlxd mới nhất</a>
        </h6>
        <div>05/11/2023</div>
        <p class="from_the_blog_excerpt ">Dịch vụ cung cấp vlxd Ngọc Hà&nbsp; Chúng tôi mang đến uy tín ,chất lượng [...]</p>
    </div>

</div>
<br />


<center>
    <h5><strong class="uppercase"> TIN TỨC THỊ TRƯỜNG</strong></h5>
</center>
<p style="text-align: center;"><em>Dưới đây là một số bài viết kiến thức và kinh nghiệm hay chúng tôi biên tập dành tặng riêng cho bạn đọc của <span style="color: #001981;"><strong>VLXD NGỌC HÀ</strong></span></em></p>
<br />
<br />
<div class="box container">
    <div class="box-text">
        <h6>
            <a class="uppercase" href="https://vlxdsaigon24h.com/bao-gia-vlxd-moi-nhat/" previewlistener="true">cát đóng bao giá rẻ TPHCM</a>
        </h6>
        <div>24/04/2024</div>
        <p class="from_the_blog_excerpt ">Địa chỉ tìm mua cát xây dựng uy tín  – VLXD NGỌC HÀ . Qúy [...]					</p>
    </div>
    <div class="box-text">
        <h6>
            <a class="uppercase" href="https://vlxdsaigon24h.com/bao-gia-vlxd-moi-nhat/" previewlistener="true">Cát xây dựng đá xây dựng tphcm</a>
        </h6>
        <div>05/02/2024</div>
        <p class="from_the_blog_excerpt ">Địa chỉ tìm mua cát xây dựng uy tín  – VLXD NGỌC HÀ . Qúy [...]					</p>
    </div>
    <div class="box-text">
        <h6>
            <a class="uppercase" href="https://vlxdsaigon24h.com/bao-gia-vlxd-moi-nhat/" previewlistener="true">báo giá vật liệu xây dựng tại quận 1</a>
        </h6>
        <div>05/11/2023</div>
        <p class="from_the_blog_excerpt ">Trên thị trường TPHCM  hiện có rất nhiều đơn vị cung cấp vật liệu xây [...]					</p>
    </div>
    <div class="box-text">
        <h6>
            <a class="uppercase" href="https://vlxdsaigon24h.com/bao-gia-vlxd-moi-nhat/" previewlistener="true">Báo giá vlxd mới nhất</a>
        </h6>
        <div>05/11/2023</div>
        <p class="from_the_blog_excerpt ">Dịch vụ cung cấp vlxd Ngọc Hà&nbsp; Chúng tôi mang đến uy tín ,chất lượng [...]</p>
    </div>
</div>

<br />
<script>
    let mybutton = document.getElementById("myBtn");
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

