
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutPage_New.cshtml";
    WEB_BMS.Models.DanhGia g = ViewBag.Reviews;
}

@model  WEB_BMS.Models.HangHoa

<link href="~/assets/product_detail.css" rel="stylesheet" />
<div class="wrap">
    <div class="left-body">
        <img src="~/assets/img/img_product/@Model.HinhAnh" />
    </div>

    <div class="right-body">
        

            <h3 class="uppercase">@Model.TenHangHoa</h3>
            <div class="is-divider small"></div>
            <h4 class="uppercase">@String.Format("{0:N0}", Model.GiaBan) VND</h4>
            <br />
            <a href="@Url.Action("AddToCart", "Home", new { productId = Model.MaHH })" class="dat-hang">Đặt hàng ngay !</a>
            <br />
            <br />
            <p>Đơn vị:  <a href="#">@Model.DonVi</a></p>
            <p>Tồn kho:  <a href="#">@Model.SoLuongTon/ @Model.DonVi</a></p>
            
            <div class="icon">
                <a href="#"><img src="~/assets/img/icon-media/facebook.svg"></a>
                <a href="#"><img src="~/assets/img/icon-media/instagram.svg"></a>
                <a href="#"><img src="~/assets/img/icon-media/youtube.svg"></a>
                <a href="#"><img src="~/assets/img/icon-media/email.svg"></a>
            </div>

        
    </div>
    

</div>
<div style="max-width:100%;height:0.5px;background-color:lightgray;margin: 16px"></div>
<br />

<div class="danh-gia " style="position:relative">
    <div class="left-body">
        <a id="button-danhgia" class="uppercase" style="cursor:pointer">Đánh giá</a>
        <div style="max-width:100%;height:0.5px;background-color:lightgray;margin: 16px"></div>

        <a id="button-luotdanhgia" class="uppercase" style="cursor:pointer">Lượt Bình Luận</a>
    </div>
    <div style="visibility: hidden" class="danhgia right-body">
        <div class="form-container">
            <h4 class="uppercase"><span>Gửi đánh giá!</span></h4>

            <form action="~/Home/Product/@Model.MaHH" method="post">
                <div class="form-group">
                    <label for="ho-ten">Họ và tên (*)</label>
                    <input type="text" id="ho-ten" name="HoTen" placeholder="Họ và tên (*)" required>
                </div>
                <div class="form-group">
                    <label for="binh-luan">Đánh Giá&nbsp;<span class="text-danger">*</span></label>
                    <textarea id="binh-luan" name="BinhLuan" class="form-control" rows="4" placeholder="Nhập đánh giá của bạn ở đây..." required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Gửi">
                </div>
            </form>

           


        </div>
    </div>
  
    <div class="luotdanhgia right-body" style="position:absolute; right:0">
        @foreach (var item in g.Reviews)
        {
        <div class="comment-box" style="width: 400px; height: 100px">
            <div class="avt-name">
                <img src="~/assets/img/icon-media/images.png" />
                <p style="color:green">GUEST</p>
            </div>

            <div class="comment">
                <h6 class="uppercase">@item.HoTen</h6>
                <p>
                    @item.BinhLuan
                </p>
            </div>
        </div>
        }
       
        
    </div>
</div>
<br /><br />

      <div class="product-same" style="width:60%" >
          <h5 class="uppercase">Sản Phẩm Tương Tự</h5>
          <div class="is-divider small"></div>
          <div style="display:flex" class="container">

              @foreach (var s in ViewBag.lstHH as IEnumerable<WEB_BMS.Models.HangHoa>)
              {
                  if (s.MaLoai == Model.MaLoai)
                  {

                      <div class="col-md-4 mb-3">
                          <!-- 4 columns per row (1/3 of the width) -->
                          <div class="card" style="border: none; background-color: rgb(250, 250, 250); padding:0px 10px 0px 10px">
                              <a href="~/Home/Product/@s.MaHH">
                                  <img style="width: 100%; height: 125px; object-fit: cover;" src="~/assets/img/img_product/@s.HinhAnh" class="card-img-top" alt="">
                              </a>
                              <div class="card-body">
                                  <a href="~/Home/Product/@s.MaHH">
                                      <h6 class="card-title uppercase">@s.TenHangHoa</h6>
                                  </a>
                                  <p class="card-text">@String.Format("{0:N0}", s.GiaBan) VND</p>
                                  <p class="card-text"><small class="text-muted">Đơn Vị: @s.DonVi</small></p>
                              </div>
                          </div>
                      </div>
                  }
              }
          </div>
          
      </div>
